* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #D9D9D9;
}

.container {
    width: 40%;
    margin: 100px auto;
    padding: 20px;
    background-color: #cfffe1;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #2d8070;
    margin-bottom: 40px;
    font-size: 24px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    padding: 15px;
    font-size: 18px;
    background-color: #2d8070;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #238662;
}