* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D9D9D9;
}

.container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #cfffe1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
}

h2 {
    text-align: center;
    color: #2d8070;
    margin-bottom: 20px;
}

.result {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

strong {
    color: #2d8070;
}
